#main-container {
    display: flex;
    flex-direction: row;
    padding-left: 5%
}

#tasks-container {
    padding: 1em;
    justify-content: space-evenly;
    flex-direction: column;
    width: 30%
}

#news-container {
    padding: 1em;
    justify-content: space-evenly;
    flex-direction: column;
    width: 40%
}

#chat-container {
    /* border: 1px solid black; */
    padding: 1em;
    justify-content: space-evenly;
    flex-direction: column;
    width: 30%
}
