#main-container{
    display: flex;
    flex-direction: row
    }

#tasks-container{
    display: flex;
 padding: 3em;
 justify-content: space-between;
 flex-direction: column;
 }

 #chat-container{
     border: 1px solid black;
     list-style-type: none;
 }
